/*
 * Estilos de tu proyecto
 */


/*Seteando los archivos*/
 *{
   margin:0px;
   padding:0px;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
   vertical-align:middle;
 }
 body{
   width: 100%;
   /*background-image: url("../assets/images/hero.gif");
   background-size: cover;*/
 }
/*CLASES REUTILIZABLES*/
.remove-underline{
  text-decoration: none;
  color: inherit;
}
.to-upper-case {
  text-transform: uppercase;
}
/*CLASES ESPECIFICAS*/

header {
  padding: 20px;
  overflow: auto;
  z-index: 2000;
  color: rgb(255, 255, 255);
  background:rgb(45,41,67);
}
.logo-header{
   position: relative;
   left: 5%;
   width:4%;
}
.box-header {
   display:inline-block;
   float: right;
   position: relative;
   right: 18%;
   transform: translateY(-50%);
}
.box-header li {
  display: inline;
  list-style: none;
  padding: 10px 15px;
}
.log-in-button {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 8px 15px;

}
#first-section {
  width: 100%;
<<<<<<< HEAD
=======
  height: 800px;
  background: url("../assets/images/hero.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
>>>>>>> 5afbaf482f6b26e0b4a81e1539f2cbf2821d745c
  overflow: auto;
}

.sign-up-box {
  width: 40%;
  padding: 30px 0px 30px 50px;
  background-color:white;
  float: right;

}
#first-section li {
  list-style: none;
  padding: 5px;
}
.sign-up-box li button {
  background-color: rgb(255,0,191);
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
}

/*Segunda sección*/

#second-section {
  background-color: rgb(66,32,114);
  overflow: auto;
}
#second-section img {
  margin-top: -40%;
  width: 40%;
  height: 30%;
  float: right;
}
.container {
  color:rgb(255, 255, 255);
  width: 60%;
  padding-top: 18%;
  padding-left: 10%;
}
.container p {
  font-size: 15px;
}
.small-box {
  padding: 20px;
}
#delete-margin {
  padding: 0;
}
.titles{
  padding: 0px 0px 15px 0px;
  font-size: 25px;
  font-weight: 400;
}
